.calculator {
  width: 320px;
  margin: 0 auto;
}
.top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.single {
  font-family: Arial;
  border: solid 1px;
  border-color: white;
  color: white;
  font-size: 22px;
  text-align: center;
  background-color: #61B34F;
  width: 20%;
  height: 80px;
  flex-grow: 1;
}
.single:hover {
  color: white;
}
.single:hover {
  background-color: #82C276;
}
.operations {
  background-color: #82C276;
  color: #496E40;
  border: solid 1px;
  border-color: white;
  text-align: center;
  font-size: 22px;
  width: 20%;
  height: 80px;
  flex-grow: 1;
}
.operations:hover {
  color: white;
}
#clear {
  font-family: Arial;
  border: solid 1px;
  border-color: white;
  color: white;
  font-size: 22px;
  text-align: center;
  background-color: #61B34F;
  width: 80px;
  height: 80px;
  flex-grow: 1;
}
#clear:hover {
  color: white;
}
#clear:hover {
  background-color: #82C276;
}
#equals {
  font-family: Arial;
  border: solid 1px;
  border-color: white;
  color: white;
  font-size: 22px;
  text-align: center;
  background-color: #61B34F;
  width: 20%;
  height: 80px;
  flex-grow: 1;
}
#equals:hover {
  color: white;
}
#equals:hover {
  background-color: #82C276;
}
input {
  border-color: white;
  background-color: #61B34F;
  text-align: right;
  color: white;
  font-size: 22px;
  height: 80px;
  width: 236px;
}
input:focus {
  outline: none;
}
#entryText {
  flex-grow: 3;
}
button:focus {
  outline: none;
}
